# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data_df = pd.read_csv('../output_data/cities.csv')
city_data_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed
0,0,rikitea,8,PF,1580101465,83,79.12,-23.12,-134.97,7.40
1,1,hithadhoo,79,MV,1580101278,80,82.22,-0.60,73.08,11.61
2,2,hobart,48,AU,1580101465,30,72.00,-42.88,147.33,17.22
3,3,albany,90,US,1580101465,100,37.99,42.60,-73.97,4.70
4,4,mujiayingzi,100,CN,1580101466,27,33.42,42.12,118.78,3.33

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Store latitude and longitude in locations
locations = city_data_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = city_data_df["Humidity"]

# Plot Heatmap
fig = gmaps.Map()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)

# Add layer
fig.add_layer(heat_layer)

#Display Fig
fig

Map(configuration={'api_key': 'AIzaSyB6-SS85yLAIye9YhNn9B-hBCvgYKvdtVE'}, data_bounds=[(-43.527897687818005, -â€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_city_data_df = city_data_df.loc[city_data_df['Temp'] < 80, :]
ideal_city_data_df = ideal_city_data_df.loc[ideal_city_data_df['Temp'] > 70, :]
ideal_city_data_df = ideal_city_data_df.loc[ideal_city_data_df['Wind Speed'] < 10, :]
ideal_city_data_df = ideal_city_data_df.loc[ideal_city_data_df['Cloudiness'] == 0, :]
ideal_city_data_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed
40,40,san patricio,0,MX,1580101472,77,75.36,19.22,-104.70,9.84
57,57,cockburn town,0,TC,1580101476,75,75.20,21.46,-71.14,8.97
117,117,buin,0,CL,1580101486,47,75.20,-33.73,-70.75,3.36
126,126,gisborne,0,NZ,1580101288,52,79.93,-38.65,178.00,5.50
267,267,myitkyina,0,MM,1580101514,24,76.03,25.38,97.40,1.92

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = ideal_city_data_df
hotel_df['Hotel Name'] = np.nan

target_search = "Hotel"
target_radius = 5000
target_type = "lodging"

idx = 0
for index, row in hotel_df.iterrows():
    # set up a parameters dictionary
    params = {
        "location": f"{row['Lat']}, {row['Lng']}",
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    response_json = response.json()
    results = response_json['results']
    if len(results) > 0:
        name = response_json['results'][0]['name']
        hotel_df.iloc[idx, -1] = name
    idx = idx + 1

narrowed_city_df = hotel_df

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [8]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display Map
fig

Map(configuration={'api_key': 'AIzaSyB6-SS85yLAIye9YhNn9B-hBCvgYKvdtVE'}, data_bounds=[(-47.599557993555045, -â€¦